include ../head.pug
body
    .container.mt-5
      h1 Add/Update Event
      form(action="/submit-event-form" method="POST")
        .mb-3
          label(for="eventName" class="form-label") Event Name
          input(type="text" class="form-control" id="eventName" name="eventName" required)
        .mb-3
          label(for="eventDateTime" class="form-label") Event Date/Time
          .input-group.date(id="datetimepicker1" data-target-input="nearest")
            input(type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="eventDateTime" required)
            .input-group-append(data-target="#datetimepicker1" data-toggle="datetimepicker")
              .input-group-text
                i.fas.fa-calendar-alt
        .mb-3
          label(for="venue" class="form-label") Venue
          input(type="text" class="form-control" id="venue" name="venue" required)
        .mb-3
          label(for="description" class="form-label") Description
          input(type="text" class="form-control" id="description" name="description" required)
        button(type="submit" class="btn btn-primary") Add/Edit

    script.
        const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker1'),{
            localization: {
                'locale': 'fr'
            }
        });
        picker.dates.formatInput = function(date) {
            return moment(date).format('DD/MM/YYYY HH:mm')
        }
